@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 0.9;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 0.9;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 0.9;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 0.9;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
